<!DOCTYPE HTML>
<html th:replace="~{common/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head><title>Expenses</title></head>

<body>

<section>

    <div class="container">
        <h1 class="display-1 mt-5 mb-2 fw-bold">Expenses</h1>
    </div>

   <div th:replace="~{expenses/sections/monthlyOverview::overview}"></div>

</section>

<section>
    <div th:replace="~{expenses/sections/addExpenseForm::addExpenseForm}"></div>
</section>

<section>
    <div id="tableViews">
        <div class="container">
            <div class="row">
                <div class="col-md-auto">
                    <button id="latestExpensesBtn" th:class="${isMonthlyList == true} ? 'btn btn-outline-secondary':'btn btn-outline-primary'"
                    th:onclick="|window.location.href = '/expenses'|"
                    >Latest</button>
                </div>
                <div class="col-md-auto">
                    <button id="monthlyExpensesBtn" th:class="${isMonthlyList == false} ? 'btn btn-outline-secondary':'btn btn-outline-primary'"
                    th:onclick="|window.location.href = '/expenses/monthly'|"
                    >Monthly</button>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="~{expenses/sections/latestExpensesList::latestExpensesList}"></div>

</section>

</body>
</html>
