<!DOCTYPE HTML>
<html th:replace="~{common/layout :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head><title>Section Title</title></head>

<body>
<section id="timeSection">
    <h1 th:text="${message}"/>
    <p th:text="'Today is: ' + ${T(java.time.LocalDate).now()}"/>
</section>

<section>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">A scuffed linkedIn JobSearch</h1>
                <p class="lead">So nice, so scuffed 😏🤟</p>

            </div>
            <div class="col-lg-4 p-0 overflow-hidden top-50 bottom-50 mb-lg-5">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <a type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" th:href="@{/searchJobs}">Search Jobs</a>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
